.statsSection {
  margin: 0 auto;
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  border-radius: 2px;
  box-shadow: 5px 5px 8px rgba(46, 39, 46, 0.29);
  background-color: #fff;
  padding-bottom: 35px;
}

.title {
  font-size: 16px;
  color: #475965;
  padding-bottom: 20px;
}

.statsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 67px;
  height: 60px;
  padding-top: 10px;
  line-height: 20px;
  color: #fff;
}

.label {
  font-size: 12px;
}

.percentage {
  font-size: 18px;
}
